/* Available Fonts through Google Fonts
font-family: 'Ubuntu', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Roboto Mono', monospace; */

.jumbotron {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:rgb(255, 0, 140);
    background-image: url(../images/concert-venue.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 140%; 
    background-color: #582C07; /* Used if the image is unavailable */
    z-index:800;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
}

.search-box {
    text-align: center;
}

.fa-briefcase {
    margin-right:5px;
}

.list-group-item {
background-color:#D9D9D9;
border:none;
}

.social-icon {
    text-align:center;
}

.social-icon:hover {
    font-size:3em;
}

.profile-background {
 text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:rgb(255, 0, 140);
    background-image: url(../images/gospel-concert-background-5.jpg);
    padding-block-end: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 140%;   
    z-index:800;
}


