/* Available Fonts through Google Fonts
font-family: 'Ubuntu', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Roboto Mono', monospace; */

.jumbotron {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:rgb(255, 0, 140);
    background-image: url(../images/concert-venue.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 140%; 
    background-color: #582C07; /* Used if the image is unavailable */
    z-index:800;
}

.btn-primary {
    background-color:#A263D6;
    border-color:#582C07;
}

.btn-primary:hover {
    
}

.container-fluid {
    padding-right:0;
    padding-left:0;
}

.search-box {
    text-align: center;
}

.fa-briefcase {
    margin-right:5px;
}

.list-group {
    margin-bottom:20px;
}

.list-group-item {
    background-color:transparent;
    border:none;
    color:white;
}

.list-group-item.active {
    background-color:transparent;
    color:white;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:white;
    text-align:center;
}

.social-icon {
    text-align:center;
    color:white;
}

.social-icon:hover {
    /* font-size:3em; */
    color:orange;
}

.footer {
    background-color: #402130;
    padding-top:10px;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    background-color:transparent;
    color:orange;
}

/* .popular-artists {
    border-right-style:solid;
    border-right-color:white;
    border-right-width:1px;
} */


